/* @font-face {
    font-family: "helvetica";
    src: url(../font/Helvetica.ttf);
} */
@font-face {
    font-family: 'CustomFont';
    src: url('customfont.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat';
    src: url('assets/font/Montserrat-Bold.ttf') format('truetype');
    font-display: swap;
}
body{
    font-family: "helvetica", sans-serif !important;
    font-family: 'Montserrat', sans-serif;

}
.btn-close {
    background:none!important;
    opacity: 1 !important;
}
.btn-close img {
   width: 15px;
}
.loaded{
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
    color: #4f5f6f;
    overflow-x: hidden;
}
.main-wrapper {
    width: 100%;
    position: absolute;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.app {
    position: relative;
    width: 100%;
    padding-left: 240px;
    min-height: 100vh;
    margin: 0 auto;
    left: 0;
    background-color: #f0f3f6;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    -webkit-transition: left 0.3s ease, padding-left 0.3s ease;
    transition: left 0.3s ease, padding-left 0.3s ease;
    overflow: hidden;
}
#errorStatusLoading .modal-content{
    height: 30%;
}
#errorStatusLoading  .modal-footer{
    border: 0;
    padding-top: 0;
}
#errorStatusLoading  .modal-body{
    padding-top: 0;
    padding-bottom: 0;
}
#errorStatusLoading  .modal-title{
    font-weight: 600;
    color: green;
}
#errorStatusLoading  .modal-header{
    border: 0;
}
/* header */
.header {
    background-color: #d7dde4;
    height: 70px;
    position: absolute;
    left: 240px;
    right: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.admin-header{
    background: rgb(74 166 90);
}
.aside-tools{
    padding: 9px 20px;
    border-bottom: 1px solid #f0f3f6;
}
.aside-tools img{
    width: 100%;
}
.aside{
    background: linear-gradient(-170deg, rgb(63, 81, 181) 19%, rgb(76, 175, 80) 100%);
    width: 285px;
    padding-bottom: 60px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    -webkit-transition: left 0.3s ease;
    transition: left 0.3s ease;
    z-index: 20;
  overflow-y: scroll; 
}

.aside::after{
    content: "";
    background-image: url("../images/bg-tractor.jpg");
    position: absolute;
    top:0;
}
.menu .admin-collapse  span i{
    float: right;
    margin: 3px 0 0;
}
.menu .admin-collapse {
    text-align: left;
    padding: 8px 10px;
}
.menu .admin-collapse:hover, .menu .admin-collapse:active {
    background: rgba(255, 255, 255, 0.1);
}
.menu .collapse ul li{
    padding: 8px 10px;
    font-size: 16px;
}
.menu  .collapse ul li a{
    padding-left: 27px;
}
.menu  .collapse ul li:hover, .menu .collapse ul li:active {
    background: rgba(255, 255, 255, 0.1);
}
.accordian_nav{ 
    background: #2f3e46;
}
.accor_item{
    border: 0 !important;
}
.menu-list{
    list-style: none;
    padding-left: 0;
}
.menu-list li a{
    background: transparent;
    color: #fff;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 15px 10px;
}
.menu-list li a:hover, .menu-list li a:active, .menu-list li a:focus{
    background: transparent;
    color: #fff;
}
.is-user-name{
    color: #fff;
    font-weight: 700;
    margin: 8px;
    text-decoration: none;
}
.page_title nav .breadcrumb-item{
    font-weight: bold;
    font-size: 20px;
    padding-left: 12px;
}
.page_title{
    padding: 1rem 0 !important;
}
.breadcrumb{
    background: transparent;
}
.add_btn{
    /* background-color: #0c517a; */
    color: #fff;
}
.add_btn i{
    background: #34d74f;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
    margin-right: 8px;
}
.btn_all{
    font-size: 14px !important;
      font-weight: 600 !important;
      line-height: 1.42857143 !important;
      padding: 9px 25px !important;
      text-transform: capitalize;
  }
.filter-card{
    background: #ffffff;
    border-radius: 0;
    border: 0;
    padding: 8px;
}
.form-outline .form-label{
    color: #454444;
    font-weight: 500;
    margin-bottom: 5px;
}
.form-outline  .form-control{
    height: 40px;
    margin-bottom: 0;
}
.error{
    font-size: 12px;
}
.btn_search{
    width: 150px;
    margin-top: 30px;
    height: 45px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
   
    line-height: 42px !important;
}
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}
.card-body{
    padding: 20px 0 0;
}
#example_wrapper .dataTables_length{
    display: none;
}
#example thead tr th, #category-table thead tr th {
    /* background-color: rgb(93, 190, 108); */
    background-color: rgb(74 166 90);
    color: #fff;
    border: 0;
    padding: 10px 10px;
    font-size: 15px;
}
#example tbody tr td, #category-table tbody tr td{
    border: 0;
    padding: 10px 10px;
    font-size: 15px;
}
 .table-bordered>:not(caption)>* {
    border-width: 0px 0 !important;
}
#example, #category-table{
    border:0;
    margin: 0 !important;
}
.user-avatar{
    width: 38px;
    height: 32px;
}
.admin-collapse{
    border: none;
}
.select2 {
    width:100% !important;
}
.select2-selection{
    border: 1px solid #ced4da;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #198754 !important;
    border: 1px solid #198754 !important;
    margin-top: 12px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color:#fff;
}
.select2-selection__choice__display{
    color:#fff;
    font-size: 12px;
    font-weight: 600;
}
#example tbody tr td:last-child{
    text-align: center;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active, .paginate_button{
    background: #12314d;
    color: #fff !important;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 5px !important;
}
.dataTables_info{
    margin-top: 20px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    background: #ee5858;
    border: 1px solid #ee5858;
    color: #fff !important;
    width: 80px;
}
