.con1 {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  

  /* header */
  .navbar-nav .nav-link {
    color: #fff;
  }
  .nav-item{
    --b: 0.1em;   /*the thickness of the line*/
  --c: #07791a; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .nav-item:hover{
    /* --_p: 100%;
    --_s: .3s; */
  }

  .dropend .dropdown-toggle {
    /* color: salmon; */
    margin-left: 1em;
  }
  .dropdown-item:hover {
    /* background-color: lightsalmon; */
    /* color: #fff; */
    color: #026c05;
    background: white;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu,
  .dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
  }
  @media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle {
      margin-left: 0.5em;
    }
  }
  

/* tractor logo */
.logo{
  width: 91px;
  /* box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08); */
  /* border-radius: 50%; */
  
}
/* login */
.login-page {
  width: 100%;
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: center;
}
.form-right img {
 /* border-radius: 50%; */
}

.swiper-slide {
  background-size: cover;
  background-position: 100%;
  min-height: 53vh;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 
.swiper-slide_buy {
  background-size: cover;
  background-position: 100%;
  min-height: 30vh;
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} 
.banner__section {
  position: relative;
}

.btn:hover{
  /* box-shadow: 0px 6px 12px rgb(100, 238, 100); */
  /* background-color: rgb(71, 209, 37); */
  /* color: #000; */
} 
.bannerimg{
  /* width: 100%; */
  height: 600px;
}
.banner__content {
  /* position: relative; */
  /* padding: 40px 0px; */
  /* background: #08162ebf; */
}
.bannerbg00 {
  position: absolute;
  top: 59%;
  transform: translateY(8%);
  height: 222px;
  left: 0px; 
  float: right;
 right: 0;
  bottom: 0;
  z-index:4;
  background: #f8f9fa4d;
}
.why_head{
  /* background: #24273e; */
  background-attachment: fixed;
}
.trac_icon:hover{
  color:rgb(0, 153, 0);
}
.backhp{
  background-image: url("../images/grass-cattle.avif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #fff;

}
.adduser{
  border-radius: 50%;
}
.hpbg{
  background: #ffffff9c;
  border-radius: 7px;
}
.toolsservice{
  /* background:#03699AFF; */

}
.bybudget::after{
  content: "";
  background-image: url(../images/capamask.png);
  top: 0;
  position: absolute;
  width: 35%;
  right: 0;
  height: 105%;
  opacity: 0.2px;
  
}
.h2form {
  /* color: #fff; */
  text-align: center;
  margin-bottom: 20px;
}

.myform {
  display: flex;
  flex-direction: column;
}

.labelform {
  /* color: #fff; */
  margin-bottom: 5px;
}

/* index-state */
.img-state {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.slider-section-state{
  margin: 0 auto;
  padding-block: 5rem;
}

.container-state {
  max-width: 75rem;
  height: auto;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.swiper-button-next-state::after, .swiper-button-prev-state::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--white-100);
  background: var(--black-300);
}

/* compare css */
.btn-compare:hover{
background: #06740a;
color: white;
}

/* latest sell */



.buttonform:hover {
  background-color: #296da0;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 350px;
  }
}

/* footer */
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
  padding-left: 0rem
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	/* background-color: #e91e63; */
  background-color: rgb(71, 209, 37);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col h6::before{
  background-color: orange;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.fotterimg{
  width:185px;
  height: 120px;
}
.recntimg{
  width:70px;
  height: 70px;
}
.upevent{
  height: 87px;
}
.upeve-p{
  line-height: 1.2px;
}

/* section-2 tabs */

.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}
.nav-link:hover{
  color: white;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

/* upcoming event */
.upcom-img{
  width: 430px;
  height: 308px;
}

/* hero form */
/* .card{
  width: 400px;
  height:423px;
  position: fixed;
  
  padding: 28px 28px;
  backdrop-filter: blur(10px);
} */

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #ea1818;
  margin-bottom: 4px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(92, 197, 92);
  border-radius: 5px;
  /* color: #80c390; */
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgba(230, 223, 223, 0.8);
}

button {
  padding: 10px;
  background: #3cbc6f;
  /* color: #498ffc; */
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
}

/* button:hover {
  background-color: #2e6d22;
} */

@media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 350px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .bannerimg {
    width: 100%;
    /* max-width: 350px; */
  }
}
.bannerimg {
  width: 100%;
}
/* swiper* hero */

div.swiper-5 {
  /* padding: 3em 0;  */
   /* color: #fff;  */
  /* text-align: center;
  font-size: 16px;  */
  /* outline: 0; */
  /* background-color: #4899DD;*/
  position:relative ;
}

/* div.swiper-5 .swiper-button-prev:before {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  font-size: 30px;
} */

/* div.swiper-5 .swiper-button-next:before {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  font-size: 39px;
} */
.revuimg{
  width: 12%;
  
}
.img-div:hover{
  /* transition: all 0.5s; */
  background-color: #e7e7e7;
  /* box-shadow: 0 0 11px rgba(25,25,25,.2);  */
  animation-duration: 1.3s;
  animation-name: fadeInUp;
  transition: all 0.5s;
  border-radius: 4px;
  padding-left:8px;
}
.linkicon{
  width: 47px;
  border-radius: 50%;
}
.img-contain {
  width: 140px;
  height: 175px;
}
/* swiper for brands */
/* Swiper container */
.swiper-container1 {
  /* max-width: 100%; */
}

/* swiper responive image */
.swiper-container1 img {
  width: 100%;
  /* height: auto; */
  height:199px;
}

.slide1{
/* Remove this if you want 1 slide perview - than change slidesPerView js-option to 1 -or- 2+ instead of 'auto' */
  /* width: 30%; */
}

/* Swiper custom pagination */
.swiper-pagination-bullet {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
}
/* Swiper custom pagination active state */
.swiper-pagination-bullet-active {
  color: #fff;
  background: black;
}


@media (max-width: 991px) {
  .tab-content>.tab-pane {
    display: block;
    opacity: 1;
  }
}
.stateimg{
  border-radius: 50%;
}
.yr-con:hover{
  /* box-shadow: 0 0 11px rgba(25,25,25,.2); */
  /* background: rgba(159, 179, 209, 0.3); */
/* color: red; */
}
.bgd_list:hover{
  color: rgb(3, 142, 3);
}
.bgd_list_i{
  color: white;
  border-radius: 50%;
}
.bgd_list_i:hover{
  box-shadow:0 4px 8px rgba(141, 246, 76, 0.25); 
}
.tractor{
  position:relative;
  width: 110%;
}
.tractor::after{
  content:url("assets/images/grass.jpg");
  top: 0;
  position: absolute;
  /* z-index: 999; */
  inset: 0;
  opacity: 0.2;
  
}
.featureservice{
  background: #ca2e2e;
}
.success__stry__item{
  height: 0;
}
.success__stry__item .thumb img{
  /* height: 235px; */
}

/*  */
/* tractor implement */

.img-imple {
  display: block;
  max-width: 25%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.section-imple {
  margin: 0 auto;
  padding-block: 5rem;
}

.container-imple {
  /* max-width: 75rem; */
  height: auto;
  margin-inline: auto;
  /* padding-inline: 1.25rem; */
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 8px; */
  font-weight: 600;
  margin-top: -88px;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: rgb(35, 34, 34);
  /* background: rgb(185, 180, 180); */
}

button {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: none;

  align-self: center ;

}
.service-box{
  color: #06740a;
  
}
.img-tools{
  border-radius: 50%;
  background-color:#4baa5563;
  
}
/* .accordion-button:not(.collapsed) {
  color: #08162e;
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
} */
/* .accordion-item :hover {
  background-color: #a2ffa5;
} */

.ul-box li a:hover{
  color: rgb(3, 199, 3);
}

/* .newsimg{
  height: 300px;
  
} */
.news-head:hover{
  color: #45b649;
}
.why{
  width: 329px;
  height: 475px;
}


/* header dropdown*/
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu {
    width: 222px;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  z-index: 99;
  }

  .banner__content {
    position: relative;
    padding: 40px 0px;
    /* background: #08162ebf; */
  }
  .header-link:hover{
    color: #026c05;
    /* background-color: #000; */
  
  }

  /* brand */
  .thumbnail {
    display: block;
    /* padding: 4px; */
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    /* line-height: 1.42857143; */
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.series-img{
border-radius: 50%;
}
.features-mahindra{
    align-self: center;
    justify-content: center;

}
.table-data{
  font-size: 17px;
}
.login-page {
  width: 35%;
  height: 93vh;
  display: inline-block;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.form-right i {
  font-size: 100px;
}
.user-login{
  /* align-items: center; */
  align-self: center;
  width: 133px;
  
}
.navbar-index{
  background: linear-gradient(553deg, rgb(63, 81, 181) 19%, rgb(76, 175, 80) 100%);
}
/* .login-body {
  margin: 0;
  padding: 0;
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwall.alphacoders.com%2Fby_sub_category.php%3Fid%3D174167%26name%3DFarm%2BWallpapers&psig=AOvVaw3RLRbWOAHjWao_BrBrpPwx&ust=1695125129495000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCPDD5biPtIEDFQAAAAAdAAAAABAZ);
  background-size: cover;
  font-family: sans-serif;
} */

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 420px;
  padding: 70px 40px;
  box-sizing: border-box;
  background: rgb(165 159 159 / 50%);
}

.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px/2);
  left: calc(50% - 50px);
}

.h2login {
  margin: 0;
  padding: 0 0 26px;
  color: #ff8c00;
  text-align: center;
}

.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: black;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="email"],
.loginBox input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  /* color: black; */
  font-size: 16px;
}

::placeholder
{
  color: rgba(255, 255, 255, 0.5);
}

.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #eee;
  font-size: 16px;
  background-color: #2aaa39;
  cursor: pointer;
  border-radius: 20px;
  margin: 12px 0 18px;
}

.loginBox input[type="submit"]:hover {
  background-color: #ff9719;
  color: #fff;
}

.loginBox a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

 .table_useroverview{
  background: rgb(153 243 153);
} 

/* sell used */

.bestplace{
  /* background: rgb(62 6 3 / 65%); */
  background: #0d3b66;
}
.trac_swip{
  height: 0px;
}

.price { 
  border:2px solid #ccf1df;
   width:300px;
    /* height: 150px;  */
    /* overflow-y: scroll; */
}

.checkbox-round {
  width: 1em;
  height: 1em;
  padding: 0PX;
  background-color: white;
  /* border-radius: 50%; */
  vertical-align: middle;
  border: 1px solid #7acf87;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: rgb(49, 196, 95);
}

.HP { 
  border:2px solid #ccf1df;
   width:300px;
    height: 175px; 
    overflow-y: scroll;
}
.add_btn{
  /* background-color: #0c517a; */
  color: #fff;
  height: 45px;
  /* width: 140px; */
}
.add_btn i{
  background:  rgb(109 204 123);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  /* margin-right: 8px; */
}
.assured{
  border-left: 4px solid green;
}
.btn-state{
  /* background: #0D3B66; */
}
/* farm all implement */
.card-1 h3{
  color: green;
}
.card-1:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  /* color: #fff; */
  /* background: #155796; */
  transition: 0.3 all;
}
/* tractor valuation */
.headline {
  left: 130px;
} 
.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}
@media screen and (max-width: 650px){
  .headline {
    left: 20px;
  } 
  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}
/* old tracter */

.brand-main {
  background-color: #fff;
  /* padding: 15px 15px 8px; */
  margin-bottom: 8px;
  width: 188px;
  border-radius: 17px;
}


/* .modal_box{
  background: #e9ffea;
} */
.modal_head{
  background: rgb(74 166 90);
}

/* form admin */
/* img show */
.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}

.img-bg {
  width: 200px;
  height: 200px;
}
.frame__img-close, .background__img-close, .politician__img-close, .self__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}
.frame__img-close:after, .background__img-close:after, .politician__img-close:after, .self__img-close:after {
  content: "X";
  font-size: 14px;
  color: white;
}
.form-outline .form-label {
  color: #454444;
  font-weight: 500;
  margin-bottom: 5px;
  position: absolute;
  /* padding: 0px 10px; */
  margin-top: -11px;
  background: #fff;
  margin-left: 20px;
}
.admin_btn{
  box-shadow: none;
  background: transparent;
  border: none;
}
.form-container {
  background-color: #ffffff;
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cecbcb;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.form-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 14px;
  color: #777;
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}
.form-group input:focus {
  /* border-color: #007bff; */
  border-color: #51cc6a;
  outline: none;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 12px;
  color: #ffffff;
  background-color: #ffffff;
  padding: 0 4px;
  border-radius: 4px;
  left: 8px;
}
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 12px;
  color: #ffffff;
  background-color: #ffffff;
  padding: 0 4px;
  border-radius: 4px;
  left: 8px;
}
/*Checkboxes styles*/
/* input[type="checkbox"] { display: none; } */

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid blue;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* admin profile */
.avatar-upload {
  position: relative;
  max-width: 205px;
  /* margin: 50px auto; */
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 21px;
  z-index: 1;
  top: 133px;
}
/* #imagePreview{
  background-image: url("./images/why.jpg");
} */
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 37px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 178px;
  height: 181px;
  position: relative;
  border-radius: 100%;
  border: 4px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.prof_head{
  background: #494a60;
}
/* admin profile form */
.input-wrapper {
  position: relative;
}

.input_wrap {
  border: 1px solid gray;
  /* border-radius: 6px; */
  background: #FFFFFF;
  position: relative;
}

.label_wrap {
  position: absolute;
  top: -1.5ex;
  z-index: 1;
  left: 1em;
  background-color: white;
  padding: 0 5px;
}

/* harvester sell form*/
.card0 {
  background-color: #F5F5F5;
  border-radius: 8px;
  z-index: 0
}

.card00 {
  z-index: 0
}

.card1 {
  margin-left: 140px;
  z-index: 0;
  border-right: 1px solid #F5F5F5
}

.card2 {
  display: none
}

.card2.show {
  display: block
}

.social {
  border-radius: 50%;
  background-color: #FFCDD2;
  color: #E53935;
  height: 47px;
  width: 47px;
  padding-top: 16px;
  cursor: pointer
}

/* .inputitem,
.selectitem {
  padding: 2px;
  border-radius: 0px;
  box-sizing: border-box;
  color: #9E9E9E;
  border: 1px solid #BDBDBD;
  font-size: 16px;
  letter-spacing: 1px;
  height: 50px !important
} */

.selectitem {
  width: 100%;
  margin-bottom: 85px
}
/* 
.inputitem:focus,
.selectitem:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #E53935 !important;
  outline-width: 0 !important
} */

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #E53935
}

.form-group {
  position: relative;
  margin-bottom: 1.5rem;
  /* width: 77% */
}

.form-control-placeholder {
  position: absolute;
  top: 0px;
  padding: 12px 2px 0 2px;
  transition: all 300ms;
  opacity: 0.5
}

.form-control:focus+.form-control-placeholder,
.form-control:valid+.form-control-placeholder {
  font-size: 95%;
  top: 10px;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
  background-color: #fff
}

.next-button {
  width: 18%;
  height: 50px;
  background-color: #BDBDBD;
  color: #fff;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer
}

.next-button:hover {
  background-color: #1d8c17;
  color: #fff
}

.get-bonus {
  margin-left: 154px
}

.pic {
  margin-top: -32px;
  width: 285px;
  /* height: 110px */
}

#progressbar {
  position: absolute;
  left: 45px;
  overflow: hidden;
  /* color: #E53935 */
}

#progressbar li {
  list-style-type: none;
  font-size: 8px;
  font-weight: 400;
  margin-bottom: 36px
}

#progressbar li:nth-child(3) {
  margin-bottom: 88px
}

#progressbar .step0:before {
  content: "";
  color: #fff
}

#progressbar li:before {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  font-size: 20px;
  background: #fff;
  border: 2px solid #4e9f1a;
  border-radius: 50%;
  margin: auto
}

#progressbar li:last-child:before {
  width: 40px;
  height: 40px
}

#progressbar li:after {
  content: '';
  width: 2px;
  height: 66px;
  background: #5de06e;
  position: absolute;
  left: 20px;
  top: 15px;
  z-index: -1
}

#progressbar li:last-child:after {
  top: 147px;
  height: 132px
}

#progressbar li:nth-child(3):after {
  top: 81px
}

#progressbar li:nth-child(2):after {
  top: 0px
}

#progressbar li:first-child:after {
  position: absolute;
  top: -81px
}

#progressbar li.active:after {
  background: #4e9f1a
}

#progressbar li.active:before {
  background: #4e9f1a;
  font-family: FontAwesome;
  content: "\f00c"
}

.tick {
  width: 100px;
  height: 100px
}

.prev {
  display: block;
  position: absolute;
  /* color: rgb(63, 81, 181) ; */
  left: 40px;
  top: 20px;
  cursor: pointer
}

.prev:hover {
  color: #4e9f1a !important
}

@media screen and (max-width: 912px) {
  .card00 {
      padding-top: 30px
  }

  .card1 {
      border: none;
      margin-left: 50px
  }

  .card2 {
      border-bottom: 1px solid #F5F5F5;
      margin-bottom: 25px
  }

  .social {
      height: 30px;
      width: 30px;
      font-size: 15px;
      padding-top: 8px;
      margin-top: 7px
  }

  .get-bonus {
      margin-top: 40px !important;
      margin-left: 75px
  }

  #progressbar {
      left: -25px
  }
}
/* inner hatbazar buy  */

.swiper_buy {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide_buy {
  text-align: center;
  background: #fff;
  background-size: cover;
  background-position: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide_buy .img_buy {
  display: block;
  width: 102%;
  height: 40%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mySwiper_buy {
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  margin-top: 1rem;
}
.mySwiper2_buy {
  /* height: 35%; */
  width: 100%;
}
.swiper-wrapper .swiper-wrapper_buy{
  height: 73px;
}
.mySwiper2_buy .swiper-slide_buy {
  /* width: 60%; */
}
.mySwiper_buy .swiper-wrapper_buy {
  justify-content: center;
}

.mySwiper_buy .swiper-slide_buy {
  flex: 0 1 auto;
  height: auto;
  opacity: 0.4;
}
.mySwiper_buy .swiper-slide-thumb-active{
  opacity: 1;
}


/* used tractor swiper */
.section_used {
  margin: 0 auto;
  padding-block: 5rem;
  justify-content: center;
}

/* .container_used {
  max-width: 75rem;
  height: auto;
  margin-inline: auto;
  padding-inline: 1.25rem;
} */
/* .swiper-button-next::after, .swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--white-100);
  background: var(--black-300);
} */

/* on road price */
.page-banner-content {
  position: absolute;
  content: "";
  left: 0;
  top: 36%;
  transform: translateY(-30%);
  width: 100%;
}
.form-view-overlay {
  margin-top: -126px;
}
/* @media (min-width: 1500px)
.container-mid {
    max-width: 1450px;
} */
.container-mid {
  /* max-width: 1280px; */
  margin: 0 auto;
  width: 98%;
  padding-left: 8px;
  padding-right: 8px;
}
/* carousal */
#news-slider{
  /* margin-top: 80px; */
}
.post-slide{
  background: #fff;
  margin: 20px 15px 20px;
  border-radius: 15px;
  padding-top: 1px;
  box-shadow: 0px 14px 22px -9px #bbcbd8;
}
.post-slide .post-img{
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 15px;
}
.post-slide .post-img img{
  width: 100%;
  height: 40%;
  transform: scale(1,1);
  transition:transform 0.2s linear;
}
.post-slide:hover .post-img img{
  transform: scale(1.1,1.1);
}
.post-slide .over-layer{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  opacity:0;
  background: linear-gradient(-45deg, rgba(6,190,244,0.75) 0%, rgba(45,112,253,0.6) 100%);
  transition:all 0.50s linear;
}
.post-slide:hover .over-layer{
  opacity:1;
  text-decoration:none;
}
.post-slide .over-layer i{
  position: relative;
  top:45%;
  text-align:center;
  display: block;
  color:#fff;
  font-size:25px;
}
.post-slide .post-content{
  background:#fff;
  padding: 2px 20px 40px;
  border-radius: 15px;
}
.post-slide .post-title a{
  font-size:18px;
  /* font-weight:bold; */
  color:#333;
  display: inline-block;
  text-transform:uppercase;
  transition: all 0.3s ease 0s;
}
.post-slide .post-title a:hover{
  text-decoration: none;
  color:#3498db;
}
.post-slide .post-description{
  line-height:24px;
  color:#808080;
  margin-bottom:25px;
}
.post-slide .post-date{
  color:#a9a9a9;
  font-size: 14px;
}
.post-slide .post-date i{
  font-size:20px;
  margin-right:8px;
  color: #CFDACE;
}
.post-slide .read-more{
  padding: 7px 20px;
  float: right;
  font-size: 12px;
  background: #2196F3;
  color: #ffffff;
  box-shadow: 0px 10px 20px -10px #1376c5;
  border-radius: 25px;
  text-transform: uppercase;
}
.post-slide .read-more:hover{
  background: #3498db;
  text-decoration:none;
  color:#fff;
}
.owl-controls .owl-buttons{
  text-align:center;
  margin-top:20px;
}
.owl-controls .owl-buttons .owl-prev{
  background: #fff;
  position: absolute;
  top:-13%;
  left:15px;
  padding: 0 18px 0 15px;
  border-radius: 50px;
  box-shadow: 3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-next{
  background: #c80b0b;
  position: absolute;
  top:-13%;
  right: 15px;
  padding: 0 15px 0 18px;
  border-radius: 50px;
  box-shadow: -3px 14px 25px -10px #92b4d0;
  transition: background 0.5s ease 0s;
}
.owl-controls .owl-buttons .owl-prev:after,
.owl-controls .owl-buttons .owl-next:after{
  content:"\f104";
  font-family: FontAwesome;
  color: #333;
  font-size:30px;
}
.owl-controls .owl-buttons .owl-next:after{
  content:"\f105";
}
@media only screen and (max-width:1280px) {
  .post-slide .post-content{
      padding: 0px 15px 25px 15px;
  }
}
.marquee_tag{
 background: rgb(241, 239, 239);
}
/* .quick-links{
  margin-left: 28px;
} */

/* .compare::after{
  content: "";
  background-image: url(../images/versus.jpg);
  background-repeat: no-repeat;
  top: 0;
  position: absolute;
  width: 20%;
  right: 0;
  height: 105%;
  opacity: 0.2px;
} */