
.gallery{
 /* position:absolute; */
 /* top: 0; */
 /* left:0; */
 object-fit: cover;
 width: 100%;
 height: 100%;
 border-radius: 6px;
 cursor: pointer;
}
.img-rounded{
   max-width: 100%;
   image-rendering: -webkit-optimize-contrast;
   vertical-align: middle;
   border-style: none;
}
.custom-column{
  padding: 30px; 
        margin-bottom: 5px;
}
.ViewBtn{
    color:#0D3B66;
    font-size:15px;
    border-radius:4px;
    background: #fff;
    border:1px solid #0D3B66;
    line-height: 40px;
    display: inline-block;
    min-width: 335px;
    box-sizing: border-box;
    padding: 0 10px;
    cursor: pointer;
}
.ViewBtn:hover{
  background-color: rgb(0, 141, 87);
  color: #fff;
  border-color:rgb(0, 141, 87); ;
}

.location.shadow{
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
}

  a.weblink{
    color: #333;
    text-decoration: none;
  }
  .price-bnt{
    border-radius: 0;
  }

  /* carousel css */
  .owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  .owl-nav button.owl-prev {
    left: 0;
  }
  .owl-nav button.owl-next {
    right: 0;
  }
  
  .owl-dots {
    text-align: center;
  }
  .owl-dots button.owl-dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 20px 3px;
    padding: 5px;
  }

  .owl-dots button.owl-dot:focus {
    outline: none;
  }
  .owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38) !important;
  }
  .span_carousel {
      font-size: 70px;    
      position: relative;
      top: -5px;
  }
  .owl-nav button:focus {
      outline: none;
  }

  .home-demo .item {
    background: #fff;
}
.home-demo h2 {
    color: #FFF;
    text-align: center;
    padding: 5rem 0;
    margin: 0;
    font-style: italic;
    font-weight: 300;
}
.tyre-condition{
  font-size: 0.9rem;
}
.t-condition{
  font-size: 0.7rem;
}
.home-demo h2 {
  color: #FFF;
  text-align: center;
  padding: 5rem 0;
  margin: 0;
  font-style: italic;
  font-weight: 300;
}


/* sell used */
#signUpForm_sellused{
  /* max-width: 500px; */
  background-color: #ffffff;
  margin: 40px auto;
  padding: 40px;
  box-shadow: 0px 6px 18px rgb(0 0 0 / 9%);
  border-radius: 12px;
  margin-top: -170px;
}
#signUpForm_sellused .form-header {
  gap: 5px;
  text-align: center;
  font-size: .9em;
}
#signUpForm_sellused .form-header .stepIndicator_sellused {
  position: relative;
  flex: 1;
  padding-bottom: 30px;
}
#signUpForm_sellused .form-header .stepIndicator_sellused.active {
  font-weight: 600;
}
#signUpForm_sellused .form-header .stepIndicator_sellused.finish {
  font-weight: 600;
  color:#129656;
}
#signUpForm_sellused .form-header .stepIndicator_sellused::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 9;
  width: 20px;
  height: 20px;
  background-color: #d5efed;
  border-radius: 50%;
  border: 3px solid #ecf5f4;
}
#signUpForm_sellused .form-header .stepIndicator_sellused.active::before {
  background-color: #a7ede8;
  border: 3px solid #d5f9f6;
}
#signUpForm_sellused .form-header .stepIndicator_sellused.finish::before {
  background-color: #129656;
  border: 3px solid #b7e1dd;
}
#signUpForm_sellused .form-header .stepIndicator_sellused::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 100%;
  height: 3px;
  background-color: #f3f3f3;
}
#signUpForm_sellused .form-header .stepIndicator_sellused.active::after {
  background-color: #a7ede8;
}
#signUpForm_sellused .form-header .stepIndicator_sellused.finish::after {
  background-color: #129656;
}
#signUpForm_sellused .form-header .stepIndicator_sellused:last-child:after {
  display: none;
}
#signUpForm_sellused input {
  padding: 8px 20px;
  width: 100%;
  font-size: 1em;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
#signUpForm_sellused input:focus {
  border: 1px solid #129656;
  outline: 0;
}
#signUpForm_sellused input.invalid {
  border: 1px solid #ffaba5;
}
#signUpForm_sellused .step_sellused {
display: none;
}
#signUpForm_sellused .form-footer{
  overflow:auto;
  gap: 20px;
}
#signUpForm_sellused .form-footer button{
  background-color: #129656;
  border: 1px solid #129656 !important;
  color: #ffffff;
  border: none;
  padding: 13px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  flex: 1;
  margin-top: 5px;
}
#signUpForm_sellused .form-footer button:hover {
opacity: 0.8;
}

#signUpForm_sellused .form-footer #prevBtn_sellused {
  background-color: #fff;
  color: #129656;
}


/* sell harvester multi-image uplode */


  .upload__inputfile {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  }

  .upload__btn {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  text-align: center;
  min-width: 150px;
  padding: 5px;
  transition: all .3s ease;
  cursor: pointer;
  border: 2px solid;
  background-color:  #198754;
  border-color:  #198754;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
  }

  .upload__btn:hover {
  background-color: unset;
  color:  #198754;
  transition: all .3s ease;
  }

  .upload__btn-box {
  margin-bottom: 10px;
  margin-top:-25px;
  }

  .upload__img-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .upload__img-box {
  flex: 0 0 calc(33.333% - 20px); 
  margin: 0 10px 20px; 
  position: relative;
  }

  .upload__img-close,.upload__img-close_button {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 60px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
  }

  .upload__img-close:after,.upload__img-close_button:after {
  content: '\2716';
  font-size: 14px;
  color: white;
  }
  

  .img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  width: 160px;
  height: 125px;
  }


  #productContainer .owl-prev,  #productContainer .owl-next{
    display: none;
}