.con1 {
    width: 1170px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  

  /* header */
  .navbar-nav .nav-link {
    color: #fff;
  }
  .nav-item{
    --b: 0.1em;   /*the thickness of the line*/
  --c: #07791a; /* the color */
  
  color: #0000;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
  }
  .nav-item:hover{
    /* --_p: 100%;
    --_s: .3s; */
  }

  .dropend .dropdown-toggle {
    /* color: salmon; */
    margin-left: 1em;
  }
  .dropdown-item:hover {
    /* background-color: lightsalmon; */
    /* color: #fff; */
    color: #026c05;
    background: white;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu,
  .dropend:hover > .dropdown-menu {
    display: block;
    margin-top: 0.125em;
    margin-left: 0.125em;
  }
  @media screen and (min-width: 769px) {
    .dropend:hover > .dropdown-menu {
      position: absolute;
      top: 0;
      left: 100%;
    }
    .dropend .dropdown-toggle {
      margin-left: 0.5em;
    }
  }
  

/* tractor logo */
.logo{
  width: 91px;
  /* box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08); */
  /* border-radius: 50%; */
  
}
/* login */
.login-page {
  width: 100%;
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: center;
}
.form-right img {
 /* border-radius: 50%; */
}

.swiper-slide {
  background-size: cover;
  background-position: 100%;
  min-height: 70vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
.banner__section {
  position: relative;
}

.btn:hover{
  /* box-shadow: 0px 6px 12px rgb(100, 238, 100); */
  /* background-color: rgb(71, 209, 37); */
  /* color: #000; */
} 
.bannerimg{
  /* width: 100%; */
  height: 600px;
}
.banner__content {
  /* position: relative; */
  /* padding: 40px 0px; */
  /* background: #08162ebf; */
}
.bannerbg00 {
  position: absolute;
  top: 50%;
  transform: translateY(8%);
  height: 222px;
  left: 0px; 
  float: right;
 right: 0;
  bottom: 0;
  z-index:4;
  background: #f8f9fa96;
}
.why_head{
  /* background: #24273e; */
  background-attachment: fixed;
}
.trac_icon:hover{
  color: rgb(202, 6, 6);
}
.backhp{
  background-image: url("../images/grass-cattle.avif");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-color: #fff;

}
.hpbg{
  background: #ffffff9c;
  border-radius: 7px;
}
.toolsservice{
  background:rgb(63, 81, 181);
}
.bybudget::after{
  content: "";
  background-image: url(../images/capamask.png);
  top: 0;
  position: absolute;
  width: 35%;
  right: 0;
  height: 105%;
  opacity: 0.2px;
  
}
.h2form {
  /* color: #fff; */
  text-align: center;
  margin-bottom: 20px;
}

.myform {
  display: flex;
  flex-direction: column;
}

.labelform {
  /* color: #fff; */
  margin-bottom: 5px;
}

/* index-state */
.img-state {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.slider-section-state{
  margin: 0 auto;
  padding-block: 5rem;
}

.container-state {
  max-width: 75rem;
  height: auto;
  margin-inline: auto;
  padding-inline: 1.25rem;
}

.swiper-button-next-state::after, .swiper-button-prev-state::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--white-100);
  background: var(--black-300);
}

/*  */

.buttonform:hover {
  background-color: #296da0;
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 350px;
  }
}

/* footer */
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
  padding-left: 0rem
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	/* background-color: #e91e63; */
  background-color: rgb(71, 209, 37);
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col h6::before{
  background-color: orange;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
.fotterimg{
  width:185px;
  height: 120px;
}
.recntimg{
  width:70px;
  height: 70px;
}
.upevent{
  height: 87px;
}
.upeve-p{
  line-height: 1.2px;
}

/* section-2 tabs */

.nav-pills-custom .nav-link {
  color: #aaa;
  background: #fff;
  position: relative;
}
.nav-link:hover{
  color: white;
}

.nav-pills-custom .nav-link.active {
  color: #45b649;
  background: #fff;
}


/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
      content: '';
      display: block;
      border-top: 8px solid transparent;
      border-left: 10px solid #fff;
      border-bottom: 8px solid transparent;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}

/* upcoming event */
.upcom-img{
  width: 430px;
  height: 308px;
}

/* hero form */
.card {
  width: 400px;
  height:423px;
  position: fixed;
  /* background-color: rgba(255, 255, 255, 0.3); */
  /* border-radius: 15px; */
  padding: 28px 28px;
  /* float: right; */
  backdrop-filter: blur(10px);
  /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
  /* z-index: 9; */
}

h2 {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  color: #fff;
  margin-bottom: 5px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid rgb(92, 197, 92);
  border-radius: 5px;
  color: #80c390;
  /* background-color: rgba(255, 255, 255, 0.8); */
  background-color: rgba(230, 223, 223, 0.8);
}

button {
  padding: 10px;
  background: #3cbc6f;
  /* color: #498ffc; */
  border: none;
  /* border-radius: 5px; */
  cursor: pointer;
}

/* button:hover {
  background-color: #2e6d22;
} */

@media (max-width: 480px) {
  .card {
    width: 100%;
    max-width: 350px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 480px) {
  .bannerimg {
    width: 100%;
    /* max-width: 350px; */
  }
}

/* swiper* hero */

div.swiper-5 {
  /* padding: 3em 0;  */
   /* color: #fff;  */
  /* text-align: center;
  font-size: 16px;  */
  /* outline: 0; */
  /* background-color: #4899DD;*/
  position:relative ;
}

/* div.swiper-5 .swiper-button-prev:before {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  font-size: 30px;
} */

/* div.swiper-5 .swiper-button-next:before {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  color: #fff;
  margin-top: 10px;
  font-size: 39px;
} */
.revuimg{
  width: 12%;
  
}
.img-div:hover{
  /* transition: all 0.5s; */
  background-color: #e7e7e7;
  /* box-shadow: 0 0 11px rgba(25,25,25,.2);  */
  animation-duration: 1.3s;
  animation-name: fadeInUp;
  transition: all 0.5s;
  border-radius: 4px;
  padding-left:8px;
}
.linkicon{
  width: 47px;
  border-radius: 50%;
}
.img-contain {
  width: 140px;
  height: 175px;
}
/* swiper for brands */
/* Swiper container */
.swiper-container1 {
  /* max-width: 100%; */
}

/* swiper responive image */
.swiper-container1 img {
  width: 100%;
  /* height: auto; */
  height:199px;
}

.slide1{
/* Remove this if you want 1 slide perview - than change slidesPerView js-option to 1 -or- 2+ instead of 'auto' */
  /* width: 30%; */
}

/* Swiper custom pagination */
.swiper-pagination-bullet {
  width: 34px;
  height: 34px;
  text-align: center;
  line-height: 34px;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.3);
}
/* Swiper custom pagination active state */
.swiper-pagination-bullet-active {
  color: #fff;
  background: black;
}


@media (max-width: 991px) {
  .tab-content>.tab-pane {
    display: block;
    opacity: 1;
  }
}
.stateimg{
  border-radius: 50%;
}
.yr-con:hover{
  box-shadow: 0 0 11px rgba(25,25,25,.2);
  /* background: rgba(159, 179, 209, 0.3); */
  border-radius: 5px;
}
.tractor{
  position:relative;
}
.tractor::after{
  content:url("assets/images/grass.jpg");
  top: 0;
  position: absolute;
  /* z-index: 999; */
  inset: 0;
  opacity: 0.2;
  
}
.featureservice{
  background: #ca2e2e;
}
/* tractor implement */

.img-imple {
  display: block;
  max-width: 25%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.section-imple {
  margin: 0 auto;
  padding-block: 5rem;
}

.container-imple {
  /* max-width: 75rem; */
  height: auto;
  margin-inline: auto;
  /* padding-inline: 1.25rem; */
}

.swiper-button-next::after, .swiper-button-prev::after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  font-weight: 800;
  padding: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.75;
  border-radius: 50%;
  color: var(--white-100);
  background: var(--black-300);
}

button {
  cursor: pointer;
  user-select: none;
  border: none;
  outline: none;
  background: none;

  align-self: center ;

}
.service-box{
  color: #06740a;
  
}
.img-tools{
  border-radius: 50%;
  background-color:#cee6ff ;
  
}
/* .accordion-button:not(.collapsed) {
  color: #08162e;
  background-color: #ffffff;
  border-bottom: 1px solid #dcdcdc;
} */
/* .accordion-item :hover {
  background-color: #a2ffa5;
} */

.ul-box li a:hover{
  color: rgb(3, 199, 3);
}

/* .newsimg{
  height: 300px;
  
} */
.news-head:hover{
  color: #45b649;
}
.why{
  width: 329px;
  height: 475px;
}


/* header dropdown*/
.dropdown-menu li {
  position: relative;
  }
  .dropdown-menu {
    width: 222px;
  }
  .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  }
  .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
  }
  .dropdown-menu > li:hover > .dropdown-submenu {
  display: block;
  z-index: 99;
  }

  .banner__content {
    position: relative;
    padding: 40px 0px;
    /* background: #08162ebf; */
  }
  .header-link:hover{
    color: #026c05;
    /* background-color: #000; */
  
  }

  /* brand */
  .thumbnail {
    display: block;
    /* padding: 4px; */
    /* margin-bottom: 20px; */
    /* margin-top: 20px; */
    /* line-height: 1.42857143; */
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}
.series-img{
border-radius: 50%;
}
.features-mahindra{
    align-self: center;
    justify-content: center;

}
.table-data{
  font-size: 17px;
}
.login-page {
  width: 35%;
  height: 93vh;
  display: inline-block;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.form-right i {
  font-size: 100px;
}
.user-login{
  /* align-items: center; */
  align-self: center;
  width: 133px;
  
}
.navbar-index{
  background: linear-gradient(553deg, rgb(63, 81, 181) 19%, rgb(76, 175, 80) 100%);
}
/* .login-body {
  margin: 0;
  padding: 0;
  background: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwall.alphacoders.com%2Fby_sub_category.php%3Fid%3D174167%26name%3DFarm%2BWallpapers&psig=AOvVaw3RLRbWOAHjWao_BrBrpPwx&ust=1695125129495000&source=images&cd=vfe&opi=89978449&ved=0CA4QjRxqFwoTCPDD5biPtIEDFQAAAAAdAAAAABAZ);
  background-size: cover;
  font-family: sans-serif;
} */

.loginBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 420px;
  padding: 70px 40px;
  box-sizing: border-box;
  background: rgb(165 159 159 / 50%);
}

.user {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: calc(-100px/2);
  left: calc(50% - 50px);
}

.h2login {
  margin: 0;
  padding: 0 0 26px;
  color: #ff8c00;
  text-align: center;
}

.loginBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: black;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="email"],
.loginBox input[type="text"] {
  border: none;
  border-bottom: 1px solid black;
  background: transparent;
  outline: none;
  height: 40px;
  /* color: black; */
  font-size: 16px;
}

::placeholder
{
  color: rgba(255, 255, 255, 0.5);
}

.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #eee;
  font-size: 16px;
  background-color: #2aaa39;
  cursor: pointer;
  border-radius: 20px;
  margin: 12px 0 18px;
}

.loginBox input[type="submit"]:hover {
  background-color: #ff9719;
  color: #fff;
}

.loginBox a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

 .table_useroverview{
  background: rgb(153 243 153);
} 

/* sell used */

.bestplace{
  /* background: rgb(62 6 3 / 65%); */
  background: #0d3b66;
}
/* .success__stry__item {
  height: 338px;
} */

.price { 
  border:2px solid #ccf1df;
   width:300px;
    /* height: 150px;  */
    /* overflow-y: scroll; */
}

.checkbox-round {
  width: 1em;
  height: 1em;
  padding: 0PX;
  background-color: white;
  /* border-radius: 50%; */
  vertical-align: middle;
  border: 1px solid #7acf87;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox-round:checked {
  background-color: rgb(49, 196, 95);
}

.HP { 
  border:2px solid #ccf1df;
   width:300px;
    height: 175px; 
    overflow-y: scroll;
}
.add_btn{
  /* background-color: #0c517a; */
  color: #fff;
  height: 45px;
  /* width: 140px; */
}
.add_btn i{
  background:  rgb(109 204 123);
  width: 22px;
  height: 22px;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  /* margin-right: 8px; */
}
.assured{
  border-left: 4px solid green;
}
.btn-state{
  /* background: #0D3B66; */
}
/* farm all implement */
.card-1 h3{
  color: green;
}
.card-1:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
  /* color: #fff; */
  /* background: #155796; */
  transition: 0.3 all;
}
/* tractor valuation */
.headline {
  left: 130px;
} 
.clipped {
  clip-path: polygon(50% 0, 100% 0, 100% 100%, 0% 100%);
}
@media screen and (max-width: 650px){
  .headline {
    left: 20px;
  } 
  .clipped {
    clip-path: none;
    max-height: 300px !important;
  }
}
/* old tracter */

.brand-main {
  background-color: #fff;
  /* padding: 15px 15px 8px; */
  margin-bottom: 8px;
  width: 206px;
}


/* .modal_box{
  background: #e9ffea;
} */
.modal_head{
  background: rgb(74 166 90);
}

/* form admin */
.admin_btn{
  box-shadow: none;
  background: transparent;
  border: none;
}
.form-container {
  background-color: #ffffff;
}
.form-group {
  position: relative;
  margin-bottom: 20px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #cecbcb;
  border-radius: 4px;
  background: #fff;
  font-size: 16px;
  transition: border-color 0.3s ease;
}
.form-group label {
  position: absolute;
  left: 12px;
  top: 12px;
  font-size: 14px;
  /* color: #777; */
  transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
}
.form-group input:focus {
  /* border-color: #007bff; */
  border-color: #51cc6a;
  outline: none;
}
.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 12px;
  color: #ffffff;
  background-color: #ffffff;
  padding: 0 4px;
  border-radius: 4px;
  left: 8px;
}
.form-group textarea:focus + label,
.form-group textarea:not(:placeholder-shown) + label {
  top: -6px;
  font-size: 12px;
  color: #ffffff;
  background-color: #ffffff;
  padding: 0 4px;
  border-radius: 4px;
  left: 8px;
}
/*Checkboxes styles*/
/* input[type="checkbox"] { display: none; } */

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: black;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border: 2px solid blue;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* admin profile */
.avatar-upload {
  position: relative;
  max-width: 205px;
  /* margin: 50px auto; */
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 21px;
  z-index: 1;
  top: 133px;
}
/* #imagePreview{
  background-image: url("./images/why.jpg");
} */
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 37px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 178px;
  height: 181px;
  position: relative;
  border-radius: 100%;
  border: 4px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.prof_head{
  background: #494a60;
}
/* admin profile form */
.input-wrapper {
  position: relative;
}

.input_wrap {
  border: 1px solid gray;
  /* border-radius: 6px; */
  background: #FFFFFF;
  position: relative;
}

.label_wrap {
  position: absolute;
  top: -1.5ex;
  z-index: 1;
  left: 1em;
  background-color: white;
  padding: 0 5px;
}