@font-face {
  font-family: Graphik;
  src: url("../font/GraphikRegular.otf");
}
label.error {
  color: red;
  font-weight: bold;
}
body {
  align-items: center;
  background: #efefef;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: Graphik;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }
  .form-outline{
    position: relative;
  }
.form-outline .form-control{
  height: 45px;
  border: 1px solid #bababb;
}
.services_content span{
  width: 25px;
  height: 25px;
  background-color: #d03b3f;
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
}
.services_content span i{
  padding: 6px 6px;
    font-size: 14px;
}
.btn-orange{
  background-color: rgba(254, 170, 14, 0.734);
}
@media (max-width: 768px) {
  
  body {
      height: 100%;
  }
}
