.row,.container{
    --bs-gutter-x: 2rem;
}
.object-fit-cover{
    object-fit: cover;
}
.object-fit-contain{
    object-fit: contain;
}
.m-n4{
    margin: -1.5rem !important;
}
.m-n5{
    margin: -3rem !important;
}
.z-5{
    z-index: 5;
}
.bg-cover{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.bg-contain{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}